body{
    background-color: #f5deb3;
}

#page{
    width: 768px;
    /*width: 100%;*/
    margin: auto;
}

#masterhead{
    width: 100%;
    height: 120px;
    background-color: white;
}

#logo_site{
    margin: 20px 0px 0px 24px;
}
#options{
    width: 50%;
    height: 100%;
    margin: 20px 0px 0px 0px;
    right: 100px;
    top: 0px;
}

#options a{
    margin-bottom: 5px;
    height: 50%;
}

#login{
}

#menu{
    width: 97.9%;
    top: 120px;
    padding-left: 16px;
    margin-left: 0px;
    background-color: white;

}

#menu li{
    display: inline-block;
    width: 19%;
}

#menu li a{
    width: 80%;

}

#search{
    top: 160px;
    width: 100%;
    background-color: #ffffff;
}

#search input{
    margin-left: 24px;
    width: 60%;
}

.carousel_perso{
    margin-left: 10px;
    top: 200px;
}

.carousel_perso a img{
    width: 100%;
}

.carousel_number{
    top: 255px;
    left: 550px;
    width: 140px;
    margin: 0;
}

.products{
    top: 485px;
    width: 100%;
}

.products h1{
    font-size: 1em;
}
.products img{
    top: 25px;
    left: 500px;
}

.products_header{
    margin-left: 24px;
}

.products_images{
    margin-left: 24px;
}

.product{
    width: 130px;
    height: 190px;
    float: left;
    margin-left: 10px;

}

.product_img{
    height: 120px;
    width: 120px;
    border: solid #000000 1px;
}

.product_detail{

}

.infos{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}

.infos_half{
    width: 50%;
    float: left;
}

.double{
    width: 100%;
    float: left;
    height: 100px;
    background-color: #eee8aa;
}

.double img{

}

.double p{

}

.simple{
    width: 50%;
    float: left;
    height: 100px;
    background-color:  #7cfc00;
}

.simple img{

}

.simple p{

}

.links{

}

.link{

}

#footer{

}
